################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/AJAX/DesignTimeBuild/.dtbcache.v2
/.vs/AJAX/FileContentIndex/2b85e500-e60c-4112-b548-1702dc039590.vsidx
/.vs/AJAX/FileContentIndex/3202101f-d317-439a-b466-db076ecf051c.vsidx
/.vs/AJAX/FileContentIndex/8ddd0425-4b02-419a-bd9e-3bdd5dca3c64.vsidx
/.vs/AJAX/FileContentIndex/b5a77d23-d5fd-4322-b550-aacefee55d11.vsidx
/.vs/AJAX/FileContentIndex/b604c4d5-e455-416e-8a62-a24686b03a32.vsidx
/.vs/AJAX/FileContentIndex/cd6c417c-e8d6-4daf-afc1-e78e96025ae8.vsidx
/.vs/AJAX/FileContentIndex/e903cf09-979f-4ff8-8a30-3182b41b2da7.vsidx
/.vs/AJAX/v17/.futdcache.v2
/.vs/AJAX/v17/.suo
*.wsuo
/.vs/ProjectEvaluation/ajax.metadata.v7.bin
/.vs/ProjectEvaluation/ajax.projects.v7.bin
/.vs/VSWorkspaceState.json
/bin/Debug/net7.0/AJAX.deps.json
/bin/Debug/net7.0/AJAX.dll
/bin/Debug/net7.0/AJAX.pdb
/bin/Debug/net7.0/AJAX.staticwebassets.runtime.json
/bin/Debug/net7.0/dotnet-aspnet-codegenerator-design.dll
/bin/Debug/net7.0/Microsoft.DotNet.Scaffolding.Shared.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/bin/Debug/net7.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/bin/Debug/net7.0/NuGet.Common.dll
/bin/Debug/net7.0/NuGet.Configuration.dll
/bin/Debug/net7.0/NuGet.DependencyResolver.Core.dll
/bin/Debug/net7.0/NuGet.Frameworks.dll
/bin/Debug/net7.0/NuGet.LibraryModel.dll
/bin/Debug/net7.0/NuGet.Packaging.dll
/bin/Debug/net7.0/NuGet.ProjectModel.dll
/bin/Debug/net7.0/NuGet.Protocol.dll
/bin/Debug/net7.0/NuGet.Versioning.dll
/obj/Debug/net7.0/ref/AJAX.dll
/obj/AJAX.csproj.nuget.dgspec.json
/obj/AJAX.csproj.nuget.g.props
/obj/Debug/net7.0/AJAX.assets.cache
/obj/Debug/net7.0/AJAX.csproj.AssemblyReference.cache
/obj/Debug/net7.0/AJAX.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/AJAX.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/AJAX.dll
/obj/Debug/net7.0/AJAX.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/AJAX.genruntimeconfig.cache
/obj/Debug/net7.0/AJAX.pdb
/obj/Debug/net7.0/project.razor.vs.json
/obj/Debug/net7.0/refint/AJAX.dll
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets.development.json
/obj/Debug/net7.0/staticwebassets.pack.json
/obj/project.assets.json
/obj/project.nuget.cache
/.vs/AJAX/FileContentIndex/8ad97f2c-611c-4892-bc4e-a229a3b0fead.vsidx
*.vsidx
